*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin button($bg-color) {
    background-color: $bg-color;
    color: #fff;
    width: 4rem;
    height: 2.5rem;
    border: none;
    outline: none;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
}
@mixin inputField(){
    border: none;
    outline: none;
    border-radius: 7px;
    width: 100%;
    height: 2.5rem;
    font-size: .9rem;
    padding: 0 1rem;
}
@mixin field(){
    max-width: 700px;
    margin: 0 auto;
   
}
.border-left{
    border-left: 3px solid rgb(25, 184, 25);
}
.opacity{
    opacity: .5;
}
body{
    background-color: #f2f2f2;
}
.App{
    padding: 1rem;
    header{
        h1{
            text-align: center;
            margin-bottom: 1rem;      
        }
        
        p{      
            color: rgb(252, 71, 71);
            font-size: .9rem;
            margin-bottom: .5rem;        
        }
        .search-field{
           @include field();
           margin-top: 1rem;
           input{
            @include inputField();
        }
        }
        .text-field{
            @include field();
            display: flex;
            input{
                @include inputField()
            }
        }
        input{
            @include inputField()
        }
        .add{
            @include button(rgb(25, 184, 25))
        }
    }

    .found{
        text-align: center;
        color: rgb(129, 129, 129);
        font-size: 2em;
        margin-top: 1rem;
    }

    .todo-list{
        // background-color: #fff;
        max-width: 700px;
        margin: 0 auto;
        
        .todo{
            background-color: #fff;
            border-radius: 5px;
            padding: 1rem;
            margin-top: 1rem;
            height: 4em;
            font-size: 1.1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
           
            .btn .edit{
                @include button(rgb(7, 145, 190));
                margin-right: .6rem;
            }
            .btn .delete{
                @include button(rgb(240, 36, 36))
            }
        }
    }
}

@import "./search";